html {
   scroll-behavior: smooth;
}

h1,
h2 {
   color: #2d3436;
}

h3,
h4,
h5,
p {
   color: #797979;
}

p a {
   color: #797979;
   text-decoration: underline;
}
p a:hover {
   color: #00b894;
}

.social-icons {
   float: right;
}

.social-icons a {
   text-decoration: none;
   font-size: 22px;
   color: #0984e3;
   margin-right: 0.5em;
}

.btn {
   border-radius: 0 !important;
}

.light-red {
   color: #ff7675;
}

.btn-secondary {
   height: 40px;
   width: 150px;
   margin: 20px 20px 0 0;
   border: 0;
}

#download-btn {
   background-color: #ff7675 !important;
}

#sec-btn {
   color: #000;
   background-color: #55efc4 !important;
}

header {
   height: 35px;
   border-bottom: 0.05rem solid #e5e5e5;
}

#profile-picture {
   position: relative;
   top: -48px;
   right: 0px;
   z-index: -1000;
   margin-bottom: -300px;
}
.row {
   text-align: center;
}

.md-thumbnail {
   width: 300px;
   height: 200px;
   border: #797979 solid 0.5px;
}

.rowimg: hover {
   border: #ff7675 solid 3px;
}

@media only screen and (max-width: 425px) {
   #profile-picture {
      display: none;
   }
   .spacer {
      height: 50px;
   }
   .overlay {
      background-color: rgba(0, 184, 148, 0.3);
      opacity: 1;
   }

}

@media only screen and (max-width: 600px) {
   body p {
      font-size: 16px;
   }
   body h1 {
      font-size: 38px;
   }
   body h2 {
      font-size: 34px;
   }
   body h4 {
      font-size: 18px;
   }
   .skill-icon {
      margin: 5px;
      font-size: 35px;
   }
   #profile-picture {
      right: -50px;
      width: 200px;
   }
   .spacer {
      height: 100px;
   }
   .overlay {
      background-color: rgba(0, 184, 148, 0.3);
      opacity: 1;
   }
}

.blog-footer {
   padding: 2.5rem 0;
   color: #999;
   text-align: center;
   background-color: #333;
   border-top: 0.05rem solid #e5e5e5;
}

.blog-footer p {
   font-size: 16px;
}

@media only screen and (min-width: 600px) {
   body p {
      font-size: 20px;
   }
   .skill-icon {
      margin: 5px;
      text-rendering: geometricPrecision;
      position: relative;
      display: inline-block;
      font-size: 80px;
      transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2);
      transform-origin: 50% 50%;
   }
   .skill-icon:hover {
      transform: scale(1.5);
   }
   .personal-info {
   }
   #profile-picture {
      width: 350px;
   }
   .spacer {
      height: 100px;
   }
   .overlay {
     opacity: 0;
     background-color: rgba(0, 184, 148, 0.7);
   }
}

@media only screen and (min-width: 990px) {
   #about-me {
      padding-right: 100px;
   }
   #profile-picture {
      width: 400px;
   }

   .spacer {
      height: 80px;
   }

}
@media only screen and (min-width: 1400px) {
   .spacer {
      height: 170px;
   }
}
#languages i {
   font-size: 20px;
   background: -webkit-linear-gradient(45deg, #6c5ce7 0%, #e84393 100%);
   background: -moz-linear-gradient(45deg, #6c5ce7 0%, #e84393 100%);
   background: -o-linear-gradient(45deg, #6c5ce7 0%, #e84393 100%);
   background: linear-gradient(45deg, #6c5ce7 0%, #e84393 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
#exp-section .big-nums {
   font-weight: 700;
   font-size: 40px;
   background: -webkit-linear-gradient(90deg, #6c5ce7 0%, #e84393 100%);
   background: -moz-linear-gradient(90deg, #6c5ce7 0%, #e84393 100%);
   background: -o-linear-gradient(90deg, #6c5ce7 0%, #e84393 100%);
   background: linear-gradient(90deg, #6c5ce7 0%, #e84393 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.modal-body img {
   width: 100%;
}

#exp-section {
   text-align: center;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 8px;
   margin-top: 8px;
   background-color: transparent;
   width: 300px;
   height: 210px;
   perspective: 1000px;
}

.flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   /* Safari */
   backface-visibility: hidden;
}

.flip-card-front {
   border-radius: 0.25rem;
   color: black;
}
#impacthub .flip-card-front {
   background-color: #832927;
}
#freelancer .flip-card-front {
   background-color: #29b2fe;
}
#mostla .flip-card-front {
   background-color: #6441a5;
}

#impacthub .flip-card-back {
   background-color: #7a3230;
}
#freelancer .flip-card-back {
   background-color: #4fa7d8;
}
#mostla .flip-card-back {
   background-color: #695393;
}

/* Style the back side */
.flip-card-back {
   border-radius: 0.25rem;
   transform: rotateY(180deg);
   padding: 10px;
}

.flip-card img {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 200px;
   left: 7px;
   margin-top: auto;
   margin-bottom: auto;
}

.flip-card-back h3 {
   font-size: 28px;
   color: white;
}

.flip-card-back p,
.flip-card-back i {
   color: white;
   line-height: 20px;
}

.overlay {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  height: 200px;
  width: 300px;
  border-radius: 0.25rem;
  transition: .5s ease;
  
}

.col-xl:hover .overlay {
  opacity: 1;
}

.plus-icon {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron {
  height: 400px;
  background-color: #fff;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

.my-logo {
   text-decoration: none;
   font-size: 18px;
}

.background {
   z-index: -1000;
   position: absolute;
   left:0;
   top: 0;  
   width: 100%;
   height: 100vh;
   background-image: url(../images/bg.png);
   background-size: 100% 110vh;
   background-repeat: no-repeat;
}